.git
.gitignore
.github
.venv
__pycache__
**/__pycache__
*.pyc
.pytest_cache
.ruff_cache
.mypy_cache
.env
.env.*
!.env.example
pgdata
.pgdata
.vscode
README.md
docs
dashboards
helm
infra
observability
scripts
docker-compose.yml
