__pycache__/
*.pyc
*.pyo
*.pyd

.env
.env.*

.pgdata
pgdata/

.venv
.vscode/

pytest_cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/

.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
backend.hcl

alembic/versions/__pycache__/
